## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [147]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [148]:
# Your code here
range
sample_list_1 = random.sample((range(100)), k = 80)
sample_list_1
len (sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [149]:
# Your code hereset
set1 = set(sample_list_1)
set1
len (set1)
# length is no longer 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [150]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(1,100))
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [151]:
set2 = set(sample_list_2)
len(set2)
## length is 58 != 80

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [152]:
# Your code here
listset1 = list(set1)
listset2 = list(set2)
listset3 = []

for i in listset1:
    if i not in listset2:
        listset3.append(i)
set3 = set(listset3)
set3
len(set3)

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [153]:
listset4 = []
for i in set2:
    if i not in set1:
        listset4.append(i)
set4 = set(listset4)
set4

{6, 7, 17, 20, 26, 37, 52, 61, 64, 88, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [154]:
# Your code here
listset5 = []
for i in set1:
    if i in set2:
        listset5.append(i)
set5 = set(listset5)
len(set5)

47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [155]:
# Your code here
len(set1)-len(set1.intersection(set2)) ## == len(set3)
len(set2)-len(set2.intersection(set1)) ## == len(set4)
len(set1.intersection(set2))  ## == len(set5)

47

#### Create an empty set called `set6`.

In [156]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [157]:
# Your code here
set6.update(set3, set5)
set6

{0,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 10,
 11,
 12,
 15,
 16,
 18,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 62,
 63,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [158]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [159]:
# Your code here
set2.issubset(set1)

False

In [160]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [161]:
# Your code here
(set3.union(set4)).union(set5) == set1.union(set2)

True

#### Using the `pop` method, remove an element from `set1`.

In [162]:
# Your code here
set1.pop()
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [164]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
set1

{2,
 3,
 4,
 5,
 8,
 10,
 12,
 15,
 16,
 18,
 22,
 23,
 24,
 25,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 47,
 48,
 50,
 53,
 54,
 55,
 56,
 58,
 60,
 62,
 63,
 65,
 66,
 67,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 90,
 92,
 93,
 94,
 95,
 98}

In [165]:
len(set1)

62