In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
## Install xlrd package to load Excel files
# conda install openpyxl
## conda install xlrd

In [29]:
customer_df=pd.read_csv("customer_analysis_data.csv")

## Splitting

In [30]:
y_df = customer_df['Total Claim Amount']

In [31]:
y_df

0         292.800000
1         744.924331
2         480.000000
3         484.013411
4         707.925645
            ...
10905    1214.400000
10906     273.018929
10907     381.306996
10908     618.288849
10909    1021.719397
Name: Total Claim Amount, Length: 10910, dtype: float64

In [32]:
customer_df = customer_df.drop(columns= ['Total Claim Amount'])

## Normalizing Numerical Data

In [33]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Vehicle Class                  10288 non-null  object
 23  Vehicle Size                   10288 non-null  object
 24  Vehicle Type                   5428 non-null   object
dtypes: float64(3), int64(5), object(17)
memory usage: 2.1+ MB

In [34]:
customer_df.select_dtypes(include=np.number)

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0,4809.216960,48029,61,7.0,52,0.0,9
1,1,2228.525238,0,64,3.0,26,0.0,1
2,2,14947.917300,22139,100,34.0,31,0.0,2
3,3,22332.439460,49078,97,10.0,3,0.0,2
4,4,9025.067525,23675,117,NaN,31,NaN,7
...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7
10906,10906,5259.444853,61146,65,7.0,68,0.0,6
10907,10907,23893.304100,39837,201,11.0,63,0.0,2
10908,10908,11971.977650,64195,158,0.0,27,4.0,6
10909,10909,6857.519928,0,101,31.0,1,0.0,3

In [35]:
pt = PowerTransformer() 

customer_lifetime_transformed = pt.fit_transform(customer_df['Customer Lifetime Value'].to_numpy().reshape(-1,1))

income_transformed = pt.fit_transform(customer_df['Income'].to_numpy().reshape(-1,1))

monthly_premium_transformed = pt.fit_transform(customer_df['Monthly Premium Auto'].to_numpy().reshape(-1,1))

last_claim_transformed = pt.fit_transform(customer_df['Months Since Last Claim'].to_numpy().reshape(-1,1))

policy_inception_transformed = pt.fit_transform(customer_df['Months Since Policy Inception'].to_numpy().reshape(-1,1))

complaints_transformed = pt.fit_transform(customer_df['Number of Open Complaints'].to_numpy().reshape(-1,1))

number_policies_transformed = pt.fit_transform(customer_df['Number of Policies'].to_numpy().reshape(-1,1))

/Users/muhammad/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:3237: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

In [36]:
customer_df["Customer Lifetime Transformed"]= customer_lifetime_transformed
customer_df.drop(["Customer Lifetime Value"],axis=1,inplace=True)

customer_df["Income Transformed"]= income_transformed
customer_df.drop(["Income"],axis=1,inplace=True)

customer_df["Monthly Premium Transformed"]= monthly_premium_transformed
customer_df.drop(["Monthly Premium Auto"],axis=1,inplace=True)

customer_df["last_claim_transformed"]= last_claim_transformed
customer_df.drop(["Months Since Last Claim"],axis=1,inplace=True)

customer_df["policy_inception"]= policy_inception_transformed
customer_df.drop(["Months Since Policy Inception"],axis=1,inplace=True)

customer_df["med_home_val_transformed"]= complaints_transformed
customer_df.drop(["Number of Open Complaints"],axis=1,inplace=True)

customer_df["med_home_val_transformed"]= number_policies_transformed
customer_df.drop(["Number of Policies"],axis=1,inplace=True)

In [37]:
customer_df

,Unnamed: 0,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,...,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type,Customer Lifetime Transformed,Income Transformed,Monthly Premium Transformed,last_claim_transformed,policy_inception,med_home_val_transformed
0,0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,...,Agent,Four-Door Car,Medsize,NaN,0.0,0.590530,-1.542363,-0.708233,0.226482,1.666474
1,1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,...,Call Center,Four-Door Car,Medsize,NaN,0.0,-1.634637,-1.256898,-1.287961,-0.712346,-1.148178
2,2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,...,Call Center,SUV,Medsize,A,0.0,0.142576,0.629792,1.593749,-0.516527,-0.064771
3,3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,...,Branch,Four-Door Car,Medsize,A,0.0,0.604438,0.536273,-0.357334,-1.843680,-0.064771
4,4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,...,Branch,Four-Door Car,Medsize,NaN,0.0,0.177735,1.051069,NaN,-0.516527,1.459269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,...,Web,Luxury Car,Medsize,A,0.0,-1.634637,2.153457,NaN,-0.184818,1.459269
10906,10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,...,Branch,Four-Door Car,Medsize,A,0.0,0.750719,-1.168860,-0.708233,0.735308,1.316039
10907,10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,...,Web,Luxury SUV,Medsize,NaN,0.0,0.473529,1.942876,-0.250176,0.580350,-0.064771
10908,10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,...,Branch,SUV,Medsize,A,0.0,0.784301,1.631253,-1.951351,-0.672400,1.316039
10909,10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,...,Web,SUV,Medsize,NaN,0.0,-1.634637,0.659452,1.394053,-1.995808,0.513736

In [42]:
categorical_df = customer_df.select_dtypes("object")
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [43]:
pd.get_dummies(categorical_df, drop_first=True)

,Customer_AA11235,Customer_AA16582,Customer_AA30683,Customer_AA34092,Customer_AA35519,Customer_AA56476,Customer_AA69265,Customer_AA71604,Customer_AA93585,Customer_AB13432,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
10906,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
10907,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
10908,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
10909,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0