# Using Pandas

In [16]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [17]:
## Your Code here
data = pd.read_csv('data/vehicle.csv')
data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [18]:
## Your Code here
## counts all rows
print (data.count()) 


## Show all data typpes
data.info() ## all data types as expected

Make                       35952
Model                      35952
Year                       35952
Engine Displacement        35952
Cylinders                  35952
Transmission               35952
Drivetrain                 35952
Vehicle Class              35952
Fuel Type                  35952
Fuel Barrels/Year          35952
City MPG                   35952
Highway MPG                35952
Combined MPG               35952
CO2 Emission Grams/Mile    35952
Fuel Cost/Year             35952
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [19]:
## unifies names in column make with non-consequential differences
data.loc[data['Make'].str.contains('Dutton', case=False), 'Make'] = 'Dutton' 
data.loc[data['Make'].str.contains('Saleen', case=False), 'Make'] = 'Saleen'
## data.loc[data['Make'].str.contains('Grumman', case=False), 'Make'] = 'Grumman' 
## data.loc[data['Make'].str.contains('PAS', case=False), 'Make'] = 'PAS' 


data['CO2 Emission Grams/Mile'] = data['CO2 Emission Grams/Mile'] / 0.621371
data = data.rename(columns={'CO2 Emission Grams/Mile': 'CO2 Emission Grams/Km'})

data[['City MPG', 'Highway MPG', 'Combined MPG']] = data[['City MPG', 'Highway MPG', 'Combined MPG']] * 0.425144 
data = data.rename(columns={'City MPG': 'City km_per_liter','Highway MPG' : 'Highway km_per_liter','Combined MPG' : 'Combined km_per_liter'})


data['Transmission_updated'] = data['Transmission'].copy()
data.loc[data['Transmission_updated'].str.startswith('Auto'), 'Transmission_updated'] = 'Auto'
data.loc[data['Transmission_updated'].str.startswith('Man'), 'Transmission_updated'] = 'Manual'
data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City km_per_liter,Highway km_per_liter,Combined km_per_liter,CO2 Emission Grams/Km,Fuel Cost/Year,Transmission_updated
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652592,7.227448,7.227448,841.308503,1950,Auto
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,5.526872,1100.172658,2550,Auto
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802304,7.227448,6.802304,893.890285,2100,Auto
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526872,5.526872,5.526872,1100.172658,2550,Auto
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952016,8.928024,6.802304,893.890285,2550,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,15.305184,392.680057,1100,Auto
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,15.305184,391.070713,1100,Auto
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.155472,15.305184,392.680057,1100,Auto
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454896,16.580616,15.305184,395.898746,1100,Auto
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604608,16.580616,14.880040,410.382847,1150,Manual

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [23]:
## create a data frame that counts everything
maker_count_df = data.groupby(['Make']).count()
## from maker_count_df calculate number of car makers
print('Number of makers is: ')
len(maker_count_df.index)

## calculate number of car models
model_count_df = data.groupby(['Model']).count()
print('Number of models: ')
len(model_count_df.index)

## from data calculate the maker with most entries
data.Make.mode() 

## When were these cars made
year_count_df = data.groupby(['Year']).count() ## sorts data frame by Year in a new data frame
year_count_df = year_count_df.iloc[:, 0:1] ## slices data frame to include only year and count of cars
year_count_df.rename(columns={'Make': 'Cars Manufactured'}) ## changes titles

## How big is the engine by cylinders
cylinders_count_df = data.groupby(['Cylinders']).count() ## sorts data based on cylinders
cylinders_count_df = cylinders_count_df.iloc[:, 0:1] ## slices data frame to include only cylinder and count of cars
cylinders_count_df.rename(columns={'Make': 'Cars Manufactured'}) ## changes titles

## Transmission frequency
trans_count_df = data.groupby(['Transmission']).count() ## sorts data based on transmission
trans_count_df = trans_count_df.iloc[:, 0:1] ## slices data frame to include only transmission and count of cars
trans_count_df.rename(columns={'Make': 'Cars Manufactured'}) ## changes titles

## Drivetrain frequency
dt_count_df = data.groupby(['Drivetrain']).count() ## sorts data based on Drivetrain
dt_count_df = dt_count_df.iloc[:, 0:1] ## slices data frame to include only Drivetrain and count of cars
dt_count_df.rename(columns={'Make': 'Cars Manufactured'}) ## changes titles

## Fuel type
fuel_count_df = data.groupby(['Fuel Type']).count() ## sorts data based on fuel type
fuel_count_df = fuel_count_df.iloc[:, 0:1] ## slices data frame to include only fuel type and count of cars
fuel_count_df.rename(columns={'Make': 'Cars Manufactured'}) ## changes titles

## max and min fuel consumption
print ('The complete profile of the car with highest fuel consumption is: ')
data.iloc[data['Fuel Barrels/Year'].idxmax()]

print ('The complete profile of the car with lowest fuel consumption is: ')
data.iloc[data['Fuel Barrels/Year'].idxmin()]

Number of makers is:

124

Number of models:

3608

0    Chevrolet
dtype: object

      Cars Manufactured
Year
1984                645
1985               1581
1986               1188
1987               1198
1988               1119
1989               1127
1990               1068
1991               1122
1992               1107
1993               1077
1994                967
1995                928
1996                767
1997                755
1998                791
1999                828
2000                827
2001                902
2002                961
2003               1034
2004               1113
2005               1156
2006               1099
2007               1126
2008               1184
2009               1183
2010               1108
2011               1124
2012               1139
2013               1168
2014               1211
2015               1264
2016               1228
2017                857

           Cars Manufactured
Cylinders
2.0                       48
3.0                      201
4.0                    13494
5.0                      723
6.0                    12765
8.0                     7998
10.0                     153
12.0                     562
16.0                       8

                                  Cars Manufactured
Transmission
Auto (AV)                                         2
Auto (AV-S6)                                      1
Auto (AV-S8)                                      1
Auto(A1)                                          1
Auto(AM-S6)                                      92
Auto(AM-S7)                                     256
Auto(AM-S8)                                       6
Auto(AM-S9)                                       1
Auto(AM5)                                        12
Auto(AM6)                                       110
Auto(AM7)                                       157
Auto(AM8)                                         5
Auto(AV-S6)                                     145
Auto(AV-S7)                                      63
Auto(AV-S8)                                      26
Auto(L3)                                          2
Auto(L4)                                          2
Automatic (A1)                                    3
Automatic (A6)                                    4
Automatic (AM5)                                   2
Automatic (AM6)                                   1
Automatic (AV)                                    4
Automatic (AV-S6)                                 9
Automatic (S4)                                  229
Automatic (S5)                                  822
Automatic (S6)                                 2631
Automatic (S7)                                  261
Automatic (S8)                                  960
Automatic (S9)                                   26
Automatic (variable gear ratios)                675
Automatic 3-spd                                2597
Automatic 4-spd                               10585
Automatic 5-spd                                2171
Automatic 6-spd                                1432
Automatic 6spd                                    1
Automatic 7-spd                                 662
Automatic 8-spd                                 243
Automatic 9-spd                                  90
Manual 3-spd                                     74
Manual 4-spd                                   1306
Manual 5 spd                                      1
Manual 5-spd                                   7787
Manual 6-spd                                   2423
Manual 7-spd                                     68
Manual(M7)                                        3

                            Cars Manufactured
Drivetrain
2-Wheel Drive                             423
2-Wheel Drive, Front                        1
4-Wheel Drive                            1058
4-Wheel or All-Wheel Drive               6503
All-Wheel Drive                          2039
Front-Wheel Drive                       13044
Part-time 4-Wheel Drive                   158
Rear-Wheel Drive                        12726

                             Cars Manufactured
Fuel Type
CNG                                         60
Diesel                                     911
Gasoline or E85                           1195
Gasoline or natural gas                     20
Gasoline or propane                          8
Midgrade                                    74
Premium                                   9921
Premium Gas or Electricity                  17
Premium and Electricity                     20
Premium or E85                             121
Regular                                  23587
Regular Gas and Electricity                 16
Regular Gas or Electricity                   2

The complete profile of the car with highest fuel consumption is:

Make                          Lamborghini
Model                            Countach
Year                                 1986
Engine Displacement                   5.2
Cylinders                            12.0
Transmission                 Manual 5-spd
Drivetrain               Rear-Wheel Drive
Vehicle Class                 Two Seaters
Fuel Type                         Premium
Fuel Barrels/Year               47.087143
City km_per_liter                2.550864
Highway km_per_liter              4.25144
Combined km_per_liter            2.976008
CO2 Emission Grams/Km         2043.177793
Fuel Cost/Year                       5800
Transmission_updated               Manual
Name: 20894, dtype: object

The complete profile of the car with lowest fuel consumption is:

Make                                 Honda
Model                    Civic Natural Gas
Year                                  2012
Engine Displacement                    1.8
Cylinders                              4.0
Transmission               Automatic 5-spd
Drivetrain               Front-Wheel Drive
Vehicle Class                 Compact Cars
Fuel Type                              CNG
Fuel Barrels/Year                     0.06
City km_per_liter                11.478888
Highway km_per_liter             16.155472
Combined km_per_liter            13.179464
CO2 Emission Grams/Km           368.048002
Fuel Cost/Year                        1000
Transmission_updated                  Auto
Name: 17395, dtype: object

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [24]:
## slice table with CO2 emissions and group by mean

co2_count_df = data.groupby(['Make']).mean()
co2_count_df

co2_count_df.loc[co2_count_df['CO2 Emission Grams/Km'].idxmax()] ## print the whole idxmax

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City km_per_liter,Highway km_per_liter,Combined km_per_liter,CO2 Emission Grams/Km,Fuel Cost/Year
Make,,,,,,,,,
AM General,1984.500000,3.350000,5.000000,22.674670,6.377160,6.377160,6.270874,983.886026,2287.500000
ASC Incorporated,1987.000000,3.800000,6.000000,20.600625,5.952016,8.928024,6.802304,893.890285,2550.000000
Acura,2003.493377,2.834768,5.231788,15.673371,8.031280,11.028404,9.143412,680.085368,1852.483444
Alfa Romeo,1991.878049,2.556098,5.317073,17.208234,7.268925,10.161979,8.295493,746.658784,1962.195122
American Motors Corporation,1984.590909,3.813636,5.545455,18.758092,6.821629,8.580179,7.517319,813.940179,1893.181818
Aston Martin,2006.458647,5.324060,10.015038,24.998702,4.922720,7.473584,5.773008,1082.473718,3002.255639
Audi,2005.260674,2.874607,5.813483,16.725128,7.467726,10.696910,8.641410,725.421433,1997.696629
Aurora Cars Ltd,1988.000000,4.900000,8.000000,21.974000,5.101728,8.502880,6.377160,953.482970,2200.000000
Autokraft Limited,1989.500000,4.925000,8.000000,19.994724,5.952016,8.715452,7.014876,867.599394,2250.000000
BMW,2006.735242,3.235659,6.425164,16.982500,7.324291,10.700852,8.516823,736.233824,2041.443053
BMW Alpina,2006.000000,4.533333,8.000000,21.058417,5.810301,8.644595,6.660589,913.754513,2600.000000
Bentley,2008.405172,6.084483,9.586207,25.427330,4.639934,7.454680,5.633158,1104.085420,3135.775862
Bertone,1987.000000,1.500000,4.000000,14.982273,8.502880,11.053744,9.353168,650.102025,1500.000000
Bill Dovell Motor Car Company,1985.000000,2.300000,4.000000,19.388824,7.227448,7.652592,7.227448,841.308503,1950.000000
Bitter Gmbh and Co. Kg,1986.666667,3.600000,6.000000,21.058417,5.952016,8.077736,6.660589,913.754513,2433.333333
Bugatti,2011.125000,8.000000,16.000000,32.961000,3.401152,6.217731,4.251440,1405.058331,4050.000000
Buick,1997.832402,3.280447,5.582868,16.117492,7.620924,11.147165,8.877355,699.202010,1656.890130
CCC Engineering,1987.500000,5.700000,8.000000,21.974000,5.526872,8.502880,6.377160,953.482970,2200.000000
CX Automotive,1990.375000,2.781250,5.125000,20.491935,6.084874,8.423165,6.882019,889.174068,2500.000000
Cadillac,2005.755906,4.256693,6.933071,18.415347,6.717777,9.835221,7.812439,798.687274,2003.149606
Chevrolet,1998.274225,4.111502,6.333242,18.997583,6.962885,9.467302,7.868607,825.077611,1942.355202
Chrysler,2000.079563,3.065367,5.326053,16.574449,7.456933,10.537735,8.553950,719.004413,1759.828393
Consulier Industries Inc,1991.000000,2.200000,4.000000,15.695714,7.652592,10.203456,8.928024,681.059264,1600.000000
Dabryan Coach Builders Inc,1995.000000,4.966667,8.000000,20.250549,5.952016,8.502880,6.944019,878.699992,2033.333333
Dacia,1988.000000,1.400000,4.000000,14.330870,8.928024,11.904032,9.778312,621.836720,1450.000000
Daewoo,2000.388060,1.855224,4.029851,14.381540,8.458462,12.322831,9.810039,624.035393,1457.462687
Daihatsu,1990.352941,1.264706,3.705882,11.504567,11.929040,13.804676,12.604269,499.199448,1173.529412
Dodge,1995.776695,3.933983,6.233051,20.507157,6.492453,8.732025,7.310495,892.389289,2125.148305
Dutton,1984.333333,5.366667,8.000000,28.436941,4.818299,6.093731,5.243443,1233.919138,2883.333333
Eagle,1993.275641,2.135256,4.256410,15.249072,8.306660,11.097349,9.347717,661.678812,1620.833333
Environmental Rsch and Devp Corp,1989.000000,2.900000,6.000000,20.600625,6.377160,7.227448,6.802304,893.890285,2550.000000
Evans Automobiles,1990.000000,5.700000,8.000000,17.347895,7.227448,10.203456,8.077736,752.749713,1750.000000
Excalibur Autos,1987.000000,5.000000,8.000000,23.543571,5.101728,7.227448,5.952016,1021.588897,2900.000000
Federal Coach,1995.000000,5.228571,8.000000,21.523078,5.739444,7.834797,6.528997,933.916824,2175.000000
Ferrari,2004.879808,4.748558,9.884615,26.424478,4.660232,6.867711,5.428762,1146.877386,3203.846154
Fiat,2015.069767,1.446512,4.000000,11.383588,11.211937,14.395574,12.408273,490.313451,1386.046512
Fisker,2012.000000,2.000000,4.000000,6.359255,8.502880,8.928024,8.502880,271.979220,2000.000000
Ford,1998.415479,3.750000,6.101494,18.989729,6.982261,9.327336,7.842940,829.562553,1947.657841
GMC,1997.533021,4.711632,6.875160,21.178804,6.126820,8.116682,6.852300,919.726174,2143.949723
General Motors,1989.000000,5.000000,8.000000,18.311667,6.377160,9.353168,7.652592,794.569142,1850.000000
Genesis,2017.000000,4.171429,6.857143,17.037485,6.923774,10.385661,8.259941,746.965753,1985.714286
Geo,1992.840278,1.451389,3.743056,12.501873,10.976982,13.093845,11.815460,542.473967,1277.083333
Goldacre,1991.000000,2.500000,6.000000,18.311667,6.802304,9.353168,7.652592,794.569142,2250.000000
Grumman Allied Industries,1988.000000,2.500000,4.000000,19.388824,6.802304,7.652592,7.227448,841.308503,1950.000000
Grumman Olson,1984.500000,1.600000,4.000000,13.377880,12.116604,12.541748,12.222890,573.469671,1262.500000
Honda,2001.618421,2.162560,4.376794,13.066686,10.132768,12.952144,11.207325,575.393086,1364.832536
Hummer,2008.631579,4.100000,5.789474,21.808782,5.817760,7.428832,6.444288,946.313925,2210.526316
Hyundai,2006.790030,2.360725,4.664653,14.269686,8.917749,12.166054,10.122537,619.632542,1463.066465
Import Foreign Auto Sales Inc,1984.000000,1.000000,4.000000,17.347895,7.652592,8.502880,8.077736,752.749713,1750.000000
Import Trade Services,1991.230769,2.469231,5.076923,21.262011,6.246346,7.292855,6.606084,922.588766,2473.076923
Infiniti,2008.388406,3.724058,6.289855,17.149036,7.390112,10.187436,8.404296,743.279513,2032.898551
Isis Imports Ltd,1992.000000,3.900000,8.000000,16.480500,6.802304,11.904032,8.502880,715.112228,2000.000000
Isuzu,1994.457213,2.753790,4.858191,18.228050,7.367777,9.257537,8.066302,790.537993,1838.264059
J.K. Motors,1992.416667,3.361111,6.777778,23.338020,5.491443,7.050305,6.081921,1012.669721,2393.055556
"JBA Motorcars, Inc.",1988.000000,3.000000,6.000000,21.974000,6.377160,6.802304,6.377160,953.482970,2200.000000
Jaguar,2006.239067,4.010496,7.434402,18.278121,6.683313,9.820455,7.832318,794.042308,2230.029155
Jeep,2000.506634,3.378770,5.355850,18.504940,7.146419,9.099825,7.873626,802.709942,1881.785283
Kia,2009.356998,2.351927,4.543611,14.474057,8.910777,11.869538,10.036158,628.672411,1467.748479
Laforza Automobile Inc,1989.500000,4.900000,8.000000,29.964545,4.251440,5.526872,4.676584,1300.204050,3050.000000
Lambda Control Systems,1986.000000,3.000000,6.000000,19.388824,6.802304,8.502880,7.227448,841.308503,1950.000000
Lamborghini,2007.346154,5.675962,11.057692,27.969011,4.333198,6.843183,5.240717,1214.705060,3444.230769
Land Rover,2006.394366,3.896479,7.211268,22.248607,5.769384,7.895104,6.547816,966.789680,2634.507042
Lexus,2007.725441,3.615869,6.554156,16.471887,8.084161,10.439052,8.920528,712.867088,1943.450882
Lincoln,2006.736264,3.874725,6.593407,18.059533,7.028113,9.906011,8.077736,783.658759,1920.329670
London Coach Co Inc,1986.000000,2.300000,4.000000,20.600625,6.802304,7.227448,6.802304,893.890285,2100.000000
London Taxi,2003.000000,2.400000,4.000000,17.372045,8.928024,10.203456,9.353168,744.687590,1650.000000
Lotus,2003.867925,2.713208,5.245283,16.507078,7.436009,10.813096,8.631225,715.341704,1993.396226
MINI,2012.496875,1.631875,3.981250,11.640990,10.801315,14.163938,12.103318,504.878506,1429.531250
Mahindra,2011.000000,2.200000,4.000000,19.109250,8.077736,8.928024,8.502880,819.156349,1800.000000
Maserati,2002.891892,3.586486,7.027027,23.027769,5.400478,7.844098,6.235445,998.920566,2763.063063
Maybach,2008.580645,5.677419,12.000000,27.058555,4.333726,6.788590,5.184014,1174.108992,3341.935484
Mazda,2000.582514,2.394754,4.535519,15.628220,8.341651,10.967321,9.316462,678.053117,1639.344262
McLaren Automotive,2015.153846,3.800000,8.000000,16.932750,6.704194,9.320465,7.685295,787.306459,2250.000000
Mcevoy Motors,1987.333333,2.300000,4.000000,16.769632,7.652592,9.636597,8.361165,727.658056,1683.333333
Mercedes-Benz,2005.670561,4.059579,7.019470,18.609137,6.902961,9.639908,7.902910,806.576344,2253.933022
Mercury,1996.507519,3.022368,5.500000,16.206884,7.938685,10.858753,8.987960,703.152983,1643.045113
Merkur,1987.428571,2.471429,4.571429,18.228248,6.923774,9.079861,7.713327,790.949477,1835.714286
Mitsubishi,1998.796842,2.455895,4.606316,16.010363,8.130096,10.613384,9.059147,694.387261,1715.157895
Mobility Ventures LLC,2014.000000,4.600000,8.000000,11.058538,5.314300,7.227448,5.952016,881.116113,2275.000000
Morgan,2002.333333,3.966667,8.000000,19.388824,6.377160,9.353168,7.227448,841.308503,2400.000000
Nissan,2001.569034,3.001038,5.273743,16.914320,7.829368,10.258762,8.740391,734.114389,1784.876297
Oldsmobile,1991.340426,3.176862,5.537234,16.351145,7.530476,10.946327,8.740327,709.264551,1673.005319
PAS Inc - GMC,1992.000000,4.300000,6.000000,21.974000,5.952016,7.227448,6.377160,953.482970,2700.000000
"PAS, Inc",1992.000000,4.300000,6.000000,23.543571,5.526872,7.014876,5.952016,1021.588897,2900.000000
Pagani,2015.000000,6.000000,12.000000,25.354615,4.676584,7.227448,5.526872,1079.870158,3100.000000
Panos,1993.000000,4.900000,8.000000,21.974000,5.526872,8.928024,6.377160,953.482970,2200.000000
Panoz Auto-Development,1995.000000,5.000000,8.000000,14.982273,7.652592,12.754320,9.353168,650.102025,1500.000000
Panther Car Company Limited,1987.000000,2.300000,4.000000,16.284304,7.971450,9.778312,8.609166,706.598987,1637.500000
Peugeot,1988.351351,2.166216,4.162162,17.424751,7.485982,9.381894,8.215621,755.148349,1873.648649
Pininfarina,1985.000000,2.000000,4.000000,16.165084,8.077736,9.990884,8.715452,701.425869,1625.000000
Plymouth,1990.267544,2.382237,4.416667,15.460492,8.335060,10.931608,9.305619,670.852643,1624.561404
Pontiac,1994.997449,2.967730,5.247449,15.372605,8.175888,11.629641,9.422037,666.956131,1615.561224
Porsche,2007.577726,3.600232,6.122970,17.199845,7.153467,10.301604,8.293760,746.430968,2112.529002
Quantum Technologies,1998.500000,2.200000,4.000000,15.695714,8.077736,10.628600,8.928024,681.059264,1600.000000
Qvale,2000.000000,4.600000,8.000000,15.695714,7.227448,11.904032,8.928024,681.059264,1600.000000
Ram,2014.736842,4.191228,6.631579,17.792707,7.063357,10.091576,8.182157,772.749348,1859.649123
Red Shift Ltd.,1987.500000,2.000000,4.000000,14.330870,8.077736,13.179464,9.778312,621.836720,1750.000000
Renault,1985.969697,1.727273,4.000000,13.345607,9.791195,12.432241,10.796081,579.084791,1359.090909
Rolls-Royce,2000.687500,6.698125,9.725000,28.405710,4.275354,6.496732,5.107042,1231.271897,3352.500000
Roush Performance,2008.962264,5.090566,8.000000,23.140361,5.422591,7.636549,6.232771,1000.875694,2853.773585
Ruf Automobile Gmbh,1987.500000,3.400000,6.000000,25.354615,4.676584,7.652592,5.526872,1100.172658,3100.000000
SRT,2013.500000,8.400000,10.000000,21.974000,5.101728,8.077736,6.377160,976.872110,2700.000000
Saab,2000.541463,2.311220,4.404878,16.448540,7.417207,10.714666,8.593093,713.725435,1774.634146
Saleen,1999.333333,5.233333,8.000000,23.166271,5.101728,7.936021,6.093731,1005.217280,2583.333333
Saturn,2001.834532,2.329496,4.431655,13.957160,8.872969,12.529514,10.229454,605.620915,1439.028777
Scion,2010.783133,2.042169,4.000000,12.316868,10.521033,13.328008,11.571088,533.330198,1275.301205
Shelby,2008.000000,4.600000,8.000000,19.388824,6.377160,9.353168,7.227448,841.308503,2400.000000
Spyker,2007.000000,4.200000,8.000000,21.576281,5.592279,7.848812,6.507974,936.225360,2230.769231
Sterling,1988.833333,2.633333,6.000000,18.160487,6.908590,8.998881,7.723449,788.009231,1833.333333
Subaru,1999.599232,2.223816,4.130602,14.999905,8.515400,11.077696,9.477826,650.683829,1596.670935
Suzuki,2001.382812,1.966211,4.308594,14.568941,9.120667,11.302021,9.944384,632.066089,1478.222656
TVR Engineering Ltd,1985.500000,2.800000,6.000000,18.311667,6.377160,9.353168,7.652592,794.569142,2250.000000
"Tecstar, LP",2008.000000,5.400000,8.000000,25.354615,4.676584,6.377160,5.526872,1100.172658,3100.000000
Texas Coach Company,1986.000000,5.000000,8.000000,27.467500,4.676584,5.952016,5.101728,1191.853713,2800.000000
Toyota,2000.408497,2.757244,4.967320,16.153677,8.439201,10.608686,9.268186,701.345578,1657.788671
VPG,2011.800000,4.600000,8.000000,13.241631,5.186757,7.312477,6.037045,919.460190,2260.000000
Vector,1994.500000,5.850000,10.000000,38.912292,3.082294,4.676584,3.613724,1688.459426,4775.000000
Vixen Motor Company,1986.000000,2.400000,6.000000,23.886563,6.377160,6.802304,6.802304,1023.945437,2250.000000
Volga Associated Automobile,1986.000000,1.600000,4.000000,17.347895,7.652592,9.353168,8.077736,752.749713,1750.000000
Volkswagen,2002.928367,2.236008,4.595033,14.594784,9.024260,12.323085,10.243250,632.056728,1579.417383
Volvo,2002.182706,2.504742,4.945607,16.186996,7.644884,10.655876,8.760220,701.358375,1812.273361
Wallace Environmental,1991.500000,4.315625,7.812500,24.404196,5.287729,6.802304,5.898873,1058.932633,2996.875000
Yugo,1988.375000,1.200000,4.000000,13.206218,9.778312,12.010318,10.628600,573.036489,1350.000000
smart,2012.500000,0.980000,3.000000,9.208922,14.157295,16.708159,15.220155,397.557265,1110.000000

Year                     1994.500000
Engine Displacement         5.850000
Cylinders                  10.000000
Fuel Barrels/Year          38.912292
City km_per_liter           3.082294
Highway km_per_liter        4.676584
Combined km_per_liter       3.613724
CO2 Emission Grams/Km    1688.459426
Fuel Cost/Year           4775.000000
Name: Vector, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [25]:
auto_or_man = data.groupby(['Transmission_updated']).mean()
auto_or_man
if auto_or_man.loc['Auto', 'Fuel Barrels/Year'] > auto_or_man.loc['Manual', 'Fuel Barrels/Year']:
    print ('Automatic cars consume more fuel on average')
else:
    print('Manual cars consume more fuel on average')

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City km_per_liter,Highway km_per_liter,Combined km_per_liter,CO2 Emission Grams/Km,Fuel Cost/Year
Transmission_updated,,,,,,,,,
Auto,2002.265747,3.555109,6.046233,18.043152,7.278311,9.882506,8.226930,784.383968,1943.890490
Manual,1997.489367,2.887318,5.179472,16.704904,7.968370,10.715510,8.985004,724.465307,1785.765735

Automatic cars consume more fuel on average